/* _sass/_course-table.scss */

.course-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 16px;
}

.course-table th,
.course-table td {
  border: 1px solid #ccc;
  padding: 10px 6px;
  vertical-align: top;
}

.course-table th {
  background-color: #f0f0f0;
  font-weight: normal;
  text-align: center;
}

.course-table tbody tr:nth-child(even) td {
  background-color: #f9f9f9;
}

.course-table td {
  text-align: left;
}

.course-table a {
  white-space: nowrap;
}
